<div class="container mx-auto">
  <h1 class="text-2xl font-medium">Users</h1>

  <div class="bg-white shadow-md rounded my-6 mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="min-w-max w-full table-auto">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="font-bold">Full name</th>
        <td mat-cell *matCellDef="let user">{{ user.name }}</td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef class="font-bold">Username</th>
        <td mat-cell *matCellDef="let user">{{ user.username }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="font-bold">Actions</th>
        <td mat-cell *matCellDef="let user">
          <a [style.cursor]="pointer" [style.cursor]="pointer" (click)="preview(user)">
            <fa-icon [icon]="faEye"></fa-icon>
          </a>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="columns"
        class="bg-gray-200 text-gray-600 capitalize text-sm leading-normal"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: columns" class="border-b border-gray-200 hover:bg-gray-100"></tr>
    </table>
    <div *ngIf="loadingUsers" class="py-5">
      <mat-progress-spinner
        mode="indeterminate"
        class="mx-auto"
        aria-label="Fetching users"
        #paginator
      ></mat-progress-spinner>
    </div>
    <mat-paginator
      class="px-5 py-5 bg-white flex flex-col xs:flex-row-center xs:justify-between"
      [pageSize]="meta.perPage"
      [length]="meta.total"
      [pageSizeOptions]="[5, 10, 20, 30]"
    ></mat-paginator>
  </div>
</div>
