{
    "semi": false,
    "trailingComma": "all",
    "singleQuote": true,
    "tabWidth": 2,
    "overrides": [
        {
            "files": [
                "*.ts",
                "*.js"
            ],
            "options": {
                "tabWith": 2,
                "arrowParens": "always",
                "useTabs": false,
                "printWidth": 80,
                "singleQuote": true,
                "trailingComma": "es5"
            }
        },
        {
            "files": "*.html",
            "options": {
                "jsxBracketSameLine": false,
                "bracketSameLine": true,
                "tabWidth": 2,
                "useTabs": false
            }
        },
        {
            "files": "*.json",
            "options": {
                "singleQuote": false
            }
        }
    ]
}