<div class="login-form w-full">
  <h3 class="font-medium text-2xl">{{ title || 'Login' }}</h3>

  <mat-error class="text-center" *ngIf="requestError !== ''">{{
    requestError
  }}</mat-error>

  <form [formGroup]="form" class="w-full mt-5" (submit)="submitPost()">
    <mat-form-field class="w-full">
      <mat-label>Email:</mat-label>
      <input
        type="text"
        formControlName="email"
        matInput
        placeholder="Email"
        autofocus />
      <mat-error *ngIf="form.get('email').errors['required'] === true"
        >Field is required.</mat-error
      >
      <mat-error *ngIf="form.get('email').errors['email'] === true"
        >Username should be a valid email.</mat-error
      >
      <mat-error
        *ngIf="
          form.get('email').errors['custom'] !== null ||
          form.get('email').errors['custom'] !== undefined
        ">
        {{ form.get('email').errors?.custom?.join(', ') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Password:</mat-label>
      <input
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
        matInput
        placeholder="Username"
        [disabled]="loading"
        autocomplete="off" />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="showPassword = !showPassword"
        [disabled]="loading"
        [attr.aria-label]="'Hide Password'">
        <mat-icon>{{
          showPassword ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password').errors['required'] === true"
        >Field is required.</mat-error
      >
    </mat-form-field>

    <div class="flex justify-center">
      <app-loading [show]="loading"></app-loading>
    </div>

    <div class="text-right">
      <button class="font-medium text-blue-500 mr-5 hover:text-blue-700">
        Forget Password
      </button>
      <button
        [disabled]="loading === true"
        [class.bg-orange-200]="loading === true"
        type="submit"
        class="border border-orange-1 bg-orange-500 hover:bg-orange-700 hover:border-orange-700 font-medium text-white py-2 px-6 rounded-md">
        Login
      </button>
    </div>
  </form>
</div>
