<div class="login-component py-3 grid grid-cols-2 gap-4">
  <div class="px-3 flex justify-center">
    <div class="w-2/3">
      <app-login-form [title]="'Login'"></app-login-form>
    </div>
  </div>
  <div class="px-3">
    <div class="grid grid-cols-3 gap-4 h-96">
      <div class="flex items-center">
        <span class="block w-full h-40 w-40 rounded-sm border border-1"></span>
      </div>
      <div class="flex items-center">
        <span class="block w-full h-56 w-40 rounded-sm border border-1"></span>
      </div>
      <div class="flex items-center">
        <span class="block w-full h-40 w-40 rounded-sm border border-1"></span>
      </div>
    </div>
  </div>
</div>
