<header class="bg-orange-500 fixed w-full top-0">
  <div class="mx-auto px-2sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden"></div>
      <div
        class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start text-white">
        <div class="flex-shrink-0 flex items-center">
          <a routerLink="/admin"
            ><img
              alt="Doodatees"
              aria-label="logo"
              class="object-fill w-32"
              src="assets/logo/doodatees.png" />
            <h1 class="font-medium hidden">Doodatees</h1></a
          >

          <div class="hidden sm:block sm:ml-6 absolute right-0">
            <div class="flex space-x-4">
              <a
                routerLink="/admin/users"
                class="text-white hover:bg-orange-700 hover:text-gray-100 px-3 py-2 rounded-md text-sm font-medium"
                routerLinkActive="bg-orange-900 rounded-md">
                Users
              </a>
              <a
                (click)="logout()"
                class="text-white hover:bg-orange-700 hover:text-gray-100 px-3 py-2 rounded-md text-sm font-medium cursor-pointer">
                Logout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container mx-auto mt-18">
  <button (click)="dispatch()">dispatch</button>
  <router-outlet></router-outlet>
</div>
